# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Quoridor.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Reps\KPI_5\GD\Quoridor\Quoridor\.idea\.idea.Quoridor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
